@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* universal selector */
*{
    margin: 0;
    padding: 0;
}
/* shared styles */
.primary-color{
    color: #0D1321;
}
.primary-btn{

}
.margin-b{
    margin-bottom: 32px;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}
.section-description{
    /* margin-bottom: 32px; */
    font-size: 16px;
    color: #0D1321;
}
/* header section - navbar part*/
.header-part{
    margin-bottom: 74px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
}
.nav-btn{
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
}
/* header section - banner part*/
.banner{
    height: 580px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 26px 215px 45px;
}
.banner .banner-img{
    margin-bottom: 32px;
}
.banner .banner-title{
    margin-bottom: 24px;
    font-size: 48px;
    text-align: center;
}
.banner .section-btn{
    padding: 16px 20px;
    color: white;
    background-color: black;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}
/*  ============= main part begins from here =============== */
main{
    width: 1140px;
    margin: 0 auto;
}
/* web-dev section styles */
.web-dev{
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
.web-dev-heading{
    text-align: center;
}
.web-title{
    margin-bottom: 24px;
}
.web-dev-contents{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.web-dev-content{
    padding: 48px;
    display: flex;
    gap: 90px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}
.web-dev-content .section-subtitle{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.web-dev-info{
    width: 60%;
}
.web-dev-img{
    width: 40%;
}
/* inspiration part styles begins  */
.inspiration{
    margin-top: 90px;
}
.inspiration-header{
    text-align: center;
    margin-bottom: 48px;
}
.inspiration .section-title{
    margin-bottom: 24px;
}
.video{
    text-align: center;
}
.iframe-video{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 25px;
    padding: 32px;    
}
/* current target style part  */
.current-target{
    margin-top: 151px;
}
.current-target-header{
    text-align: center;
    margin-bottom: 48px;
}
.current-target-title{
    margin-bottom: 24px;
}
.current-contents{
    display: flex;
    gap: 24px;
}
.current-contents a{
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 700;

}
.current-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.current-html{
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.language-img{
    width: 56px;
}
.current-css{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.current-js{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* ============= next-target section begins here ========== */
.next-target{
    margin-top: 111px;
}
.next-target-heading{
    margin-bottom: 48px;
}
.next-heading-title{
    margin-bottom: 24px;
}
.next-target-contents{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.next-content{
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    gap: 24px;
}
.next-img-box{
    height: 108px;
}
.next-img-box img{
    height: 100%;
    width: 100%;
}
.next-content .section-subtitle{
    margin-bottom: 8px;
}
.next-content .section-description{
    margin-bottom: 24px;
}
.next-content .next-target-info a{
    color: #0D1321;
    font-weight: bold;
    font-size: 16px;
}
/* ================= form section begins here============== */
.form{
    background-image: url("../assets/handshake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 64px 48px;
    margin-top: 50px;
    border-radius: 16px;
}
.form .section-title{
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}
.form .section-description{
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}
.form-content{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.textarea{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    text-align: center;
}
form input[type="submit"] {
    padding: 8px 16px;
    border-radius: 8px;
    color: rgba(13, 19, 33, 1);
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.footer-part{
    margin-top: 80px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 80px 150px 0; */
    padding: 32px 150px;
    background-color: rgba(13, 19, 33, 0.03);
}